nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

nav > div {
    margin-left: 1rem;
    padding: 1rem;
}

.nav-option {
    text-decoration: none;
    border: none;
    color: black;
}

/* .links {
    margin-bottom: 0;
    border: 0  ;
} */